@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.3);
  --mainGrey:#fafafa;
  --darkGray:#5f5e5e;
  --mainWhite:#fff;
  --mainBlack:#222;
  --mainTransition:all 0.3 ease-in-out;
  --mainSpacing:0.3rem;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  background:var(--mainGrey) !important;
  color:var(--mainBlack)
}
.text-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}