@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Source+Sans+Pro:wght@200&display=swap');
:root{
  --primaryColor:#5fb7ea;
  --primaryRGBA:rgba(0,0,0,0.3);
  --mainGrey:#fafafa;
  --darkGray:#5f5e5e;
  --mainWhite:#fff;
  --mainBlack:rgb(2, 2, 2);
  --mainTransition:all .3s ease-in-out;
  --mainSpacing:0.3rem;
}
html{
  font-size:10px;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  background:var(--mainGrey) !important;
  color:var(--mainBlack)
}
.text-title{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}





.mainLink{
  background-color:var(--primaryColor);
  color:var(--mainWhite);
  display:inline-block;
  padding:1rem 1.4rem;
  outline:2px solid var(--primaryColor);
  outline-offset: 4px ;
  transition: var(--mainTransition);
  text-transform: uppercase;
  font-size:1.6rem;
}
.mainLink:hover{
  background-color: var(--darkGray);
  color:var(--mainWhite);
  text-decoration: none;
  outline-color: var(--darkGray);
}